.wrapper {
	padding: 3vw;
}

body {
	background-image: url('bg.png');
}

div {
	margin: 0;
	padding: 0;
}

.tt-dataset tt-dataset-states {
	background-color: white;
}

h1 {
	font-family: Lobster;
	color: white;
	font-size: 66px;
}

#container {
	min-width: 310px; 
	height: 700px; 
	padding:50px; 
	margin: 0 auto
}

